In [1]:
print("Hello World!")

Hello World!

In [2]:
print(print("Hello World!"))

Hello World!
None

In [14]:
name = "Python" 
age = 20
print("Name = ",name,"\n Age = ",age)

Name =  Python
 Age =  20

In [15]:
name='Pushti'
age=20
print(f"My Name = {name} Age = {age}")

My Name = Pushti Age = 20

In [5]:
print("This is")
print("a new line")

This is
a new line

In [7]:
print("This is",end=" ")
print("a new line")

This is a new line

In [8]:
print("apple","banana","cherry")

apple banana cherry

In [9]:
print("apple","banana","cherry",sep=',')

apple,banana,cherry

In [11]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

# Commenting :-

In [12]:
"""MultiLine Comments"""

'MultiLine Comments'

In [13]:
# Single Line Comments

In [17]:
d=500     # distance in km
t=10      # time in hours(hr)
s=d/t
print(s)

50.0

# Type Casting:-

In [18]:
a=float(5)
print(a)

5.0

In [21]:
a=str(5)
print(a)

5

# INPUT()

In [23]:
a=int(input("Enter Your Marks : "))
print("Marks : ",a)

Enter Your Marks : 8
Marks :  8